
@{
    ViewData["Title"] = "SoftwareServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="applicationdevelopment" class="whyuspage">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            @*<p>
                    We work hard to provide quality education to students.
                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality of our services.
                </p>
            </div>

        </div>
        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">
                                  <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h2>Application Development</h2>
                <p class="description">
                    Creation of Customize Software is an art to understand the real business values. Our experienced pre sales team, always drill down the requirement to meet with the end users & technology persons on micron level with the help of pre prepared certain set of questions.
                </p>
                <p class="description">
                    We offer platform-specific and cross-platform application development services to help you turn a solid software idea into a market sensation, as well as couple your manufactured devices and equipment with complementary software to gain customer loyalty and outdo competitors.
                </p>
            </div>
       
        </div>


    </div>
</section>
<section id="websitedevelopment" class="whyuspage">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            @*<p>
                    We work hard to provide quality education to students.
                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality of our services.
                </p>
            </div>


        </div>
        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">
                                  <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h2>Web Site Design & Development</h2>
                <p class="description">We are having dedicated team for designing & development. We know the value of designing, as the quote also said “First impression is last impression”, whenever anyone wants to know about the company, their first point of contact will always be Website. Website always gives the first impression about the company for client or even for employee, it also tells the status of the company in the market.  @ViewData["Title"]</p>
            </div>
            
        </div>
    </div>
</section>
<section id="mobiledevelopment" class="whyuspage">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            @*<p>
                    We work hard to provide quality education to students.
                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality of our services.
                </p>
            </div>


        </div>
        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">
                                  <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h2>Mobile Application</h2>
                <p class="description">
                    Mobile application is the best way to access & promote your products.
                    @ViewData["Title"] is having expertise to creating mobile applications for all standard type of OS i.e. android, iOS, Microsoft & Blackberry.
                    @ViewData["Title"] is capable to deliver all type of mobile applications, which may be m-commerce, or any specific application which you want to use for your personal or office use.
                </p>
            </div>
      
        </div>
    </div>
</section>

