
@{
    ViewData["Title"] = "Why Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--==========================
      About Us Section
    ============================-->
<section id="whyuswiderangecourses" class="whyuspage">
    <div class="container">

        <header class="section-header">
            <h3>Why Us</h3>
            @*<p>
                    We work hard to provide quality education to students.
                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality education to students.
                </p>
            </div>

        </div>
        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">
                                  <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h2>Wide Range Courses</h2>
                <p class="description">
                    We offers hundreds of IT courses to students, engineers, working people & others.
                    IT career courses for Form 4 Pass/College Students & engineering students, Sun Java, Oracle & Red Hat Linux certification courses as well as short-term courses are offered.

                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>World-Class Education</h4>
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality education to students.
                </p>
                <p class="description">
                    For this, we:
                </p>
                <ul>
                    <li>Offer hundreds of job-oriented IT courses</li>
                    <li>Provide books & CDs that make it easy to learn</li>
                    <li>Appoint trained & certified teachers to take classes</li>
                    <li>Provide lots of lab time for practice</li>
                    <li>Develop workplace skills in students</li>
                    <li>Work to find good job placements for students</li>
                </ul>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Booming IT Industry</h4>
                <p class="description">
                    The IT industry is huge & growing. Through its various job-oriented courses, we fulfill the demand for trained professionals in IT.
                    But the first step to work in this exciting industry is to know what it is all about, its size, its future, its status in Tanzania & around the world, as well as the job prospects in IT.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Thousands of IT Job Roles</h4>
                <p class="description">
                    The IT industry is huge & growing. Through its various job-oriented courses, we fulfill the demand for trained professionals in IT.
                    But the first step to work in this exciting industry is to know what it is all about, its size, its future, its status in Tanzania & around the world, as well as the job prospects in IT.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Booming IT Industry</h4>
                <p class="description">
                    Each year, millions of people are employed in the IT industry, most of them new college graduates.
                </p>
                <p class="description">
                    A career in IT means being a part of the most 'happening' industries of our time. There is no area today that is not or will not be touched in some way by IT.
                </p>
                <p class="description">
                    There are hundreds of varieties of job roles in IT.

                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Job Placements</h4>
                <p class="description">
                    We offers job placement assistance to our students.
                    To help students find jobs in the IT industry, We work hard to improve their IT skills as well as workplace & English language skills.
                </p>
                <p class="description">
                    Job internships to help students gain hands-on work experience and job fairs to help them find jobs while still on campus are also organized.
                </p>

            </div>
        </div>


    </div>
</section>
<section id="whyusqualityeducation" class="whyuspage">
    <div class="container">

        <header class="section-header">
            <h3>Why Us</h3>
            @*<p>
                    We work hard to provide quality education to students.
                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality education to students.
                </p>
            </div>

        </div>
        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">
                                  <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h2>Contents : Quality Education</h2>
                @*<p class="description">
                        We offers hundreds of IT courses to students, engineers, working people & others.
                        IT career courses for Form 4 Pass/College Students & engineering students, Sun Java, Oracle & Red Hat Linux certification courses as well as short-term courses are offered.

                    </p>*@
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>We Teach in demand courses</h4>
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS. We teach most relevant & updated course curriculum. experts in various subjects together to train the students This is done after surveying the trends/ demand in the IT industry
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Our teachers are well-selected & trained</h4>
                <p class="description">
                    Faculty are selected & trained under the company's supervision.
                    Students' feedback is taken on the faculty's performance & training is provided to those teachers who need improvement.
                </p>
                <p class="description">
                    Our Academic team assists faculty in teaching the advanced courses & also keep them informed of the latest developments in the industry/ technology.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>We follow world-class teaching methods</h4>
                <p class="description">
                    Each course includes classroom learning as well as practical sessions in the lab. Students are given lot of time in the lab & can work on their projects/ assignments whenever they wish.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Our courses include E-Projects</h4>
                <p class="description">
                    Each course is supported by a sufficient number of projects.  These are designed to apply the concepts learn by the students in the classroom. Career courses include E-Projects which are online projects guided & monitored directly by top faculty in Our Head Office/ branch offices. The student gets continuous support & feedback from the top faculty.
                </p>

            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>We conduct technical workshops</h4>
                <p class="description">
                    We conduct Techno Minds & other technical workshops where students are exposed to new advancements in the IT field.  Faculty from Our Head Office visit the centers to conduct such workshops.  Students can also interact with the faculty members to get their doubts cleared.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Exams are held on-line</h4>
                <p class="description">
                    Exams are conducted under the supervision of Our Academics Team. Many of these are held on-line.  The exams are also invigilated at the centers by invigilators who report to Our Head Office.  This ensures high standards in the conduct of examinations
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Our certificates are recognized world over (Vendor specific)</h4>
                <p class="description">
                    Our courses lead to professional IT certifications from brands as Sun, Oracle & Red Hat or from Aptech itself. These certificates are widely recognized by the IT industry & improve students' growth prospects in the industry.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>We can help our students get placed</h4>
                <p class="description">
                    We assure 100% placement assistance after successful completion of the course.  Deserving students from other courses too are eligible for placement assistance, provided certain conditions are met.  Our Placements team is in close contact with thousands of companies who employ IT professionals & forwards them CVs of students about to complete their course.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="whyuttindustry" class="whyuspage">
    <div class="container">

        <header class="section-header">
            <h3>Why Us</h3>
            @*<p>
                    We work hard to provide quality education to students.
                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    &#64; 3S IT TRAINING AND BUSINESS SOLUTIONS.  We work hard to provide quality education to students.
                </p>
            </div>

        </div>
        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">
                                  <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h2>IT Industry</h2>
                @*<p class="description">
                        We offers hundreds of IT courses to students, engineers, working people & others.
                        IT career courses for Form 4 Pass/College Students & engineering students, Sun Java, Oracle & Red Hat Linux certification courses as well as short-term courses are offered.

                    </p>*@
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>What is Information Technology(IT)?</h4>
                <p class="description">
                    The Information Technology industry is a large industry. Over the past 50 years, IT has shaped the modern world & continues to change it. The major segments in IT are hardware & software. Software consists of products & services. Software products are packaged or ready-to-use software made by a company for use by others. Software services companies typically do programming for client companies on a contract basis. These companies take care of the client company’s ‘outsourced’ development & maintenance of software, training, etc.
                </p>
            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>Why work in IT?</h4>
                <p class="description">
                    Brijesh Shirodkar has been working in IT & IT-related fields for 6 years now. Currently, he is an Associate Consultant, Cognizant Technology Solutions. This is what he feels about a career in IT:
                    IT is an in-demand career so there are many opportunities to earn good salaries as compared to other industries. Many opportunities to travel abroad on-the-job or to find jobs anywhere in the world.
                    Global outlook/ culture & world-class standards in functioning of most IT companies leads to greater work satisfaction. Also, IT companies are full of enthusiastic people who are fun to work with!
                    Technology continues to expand at a rapid pace, providing great opportunities for job growth.
                    *Cognizant is a leading global provider of Information Technology, consulting & Business Process Outsourcing services.
                </p>

            </div>
            <div class="col-lg-12 col-sm-12 wow fadeInUp pt-5 pt-lg-0">
                <h4>What are the various job roles in IT?</h4>
                <p class="description">
                    The IT industry is huge & growing. Most IT professionals work in offices in comfortable surroundings. They are mostly employed in IT, telecom, banking & insurance and BPO companies, among others.
                </p>
                <p class="description">
                    Good IT professionals possess the following skills, among others :
                </p>
                <ul>
                    <li>Logical reasoning ability</li>
                    <li>Numerical ability</li>
                    <li>Imaginative mind</li>
                    <li>Interest in problem-solving</li>
                    <li>Interest in keeping oneself updated about new technology</li>
                    <li>Communication skills, written and oral, is a plus point</li>
                </ul>
                <p class="description">
                    There are very many types of IT jobs.
                </p>
            </div>

        </div>
    </div>
</section>

