
@{
    ViewData["Title"] = "Why Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>About Us</h3>
            @*<p>
                    3S IT TRAINING AND BUSINESS SOLUTIONS. is a Global Learning Solutions company that commenced its education and training business in 2014 and has trained over 50,000 students worldwide
                    3S IT TRAINING has presence in Republic of South Africa and Kingdom of Eswatini (Formerly Known as Kingdom of Swaziland) emerging countries through its two main streams of businesses - Individual Training and Enterprise Business. As a leader in career education, it has 2 centers of learning.
                    Under Individual Training, 3S IT TRAINING offers career and professional training through its retail brands (Vendor Specific Programs): Microsoft, CISCO, ORACLE, PEOPLECERT, VMWare (IT, Banking & Finance, Hardware & Networking Training).
                    Enterprise business includes 3S IT TRAINING AND BUSINESS SOLUTIONS Assessment & Testing Solutions (Technology based contemporary assessment solutions) & 3S IT TRAINING’s Training Solutions (Customized training for Corporates & Institutions).

                </p>*@
        </header>

        <div class="row home-container">

            <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                <p class="description">
                    3S IT TRAINING AND BUSINESS SOLUTIONS. is a Global Learning Solutions company that commenced its education and training business in 2014 and has trained over 50,000 students worldwide
                    3S IT TRAINING has presence in Republic of South Africa and Kingdom of Eswatini (Formerly Known as Kingdom of Swaziland) emerging countries through its two main streams of businesses - Individual Training and Enterprise Business. As a leader in career education, it has 2 centers of learning.
                    Under Individual Training, 3S IT TRAINING offers career and professional training through its retail brands (Vendor Specific Programs): Microsoft, CISCO, ORACLE, PEOPLECERT, VMWare (IT, Banking & Finance, Hardware & Networking Training).
                    Enterprise business includes 3S IT TRAINING AND BUSINESS SOLUTIONS Assessment & Testing Solutions (Technology based contemporary assessment solutions) & 3S IT TRAINING’s Training Solutions (Customized training for Corporates & Institutions).

                </p>
            </div>

        </div>
        <div class="row home-extra">
            <div class="col-lg-6 wow fadeInUp">
                @*<img src="img/about-extra-1.svg" class="img-fluid" alt="">*@
                <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h2>Corporate and social responsibility</h2>
                <p class="description">
                    3S IT TRAINING AND BUSINESS SOLUTIONS believes in giving back to the community.
                    An education & training company, 3S IT TRAINING relies on its core strength to educate those less privileged.

                </p>
                <p class="description">
                    3S IT TRAINING provides free-of-cost computer, Basic Computers and related training to underprivileged children and youth at its centers. 3S IT TRAINING endeavors not only to improve knowledge of students but also enhance employability of youth population.
                </p>

            </div>

        </div>

        <div class="row home-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                <img src="~/img/Policy.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h2>Policy Statement</h2>
                <p class="description">
                    3S IT TRAINING AND BUSINESS SOLUTIONS PTY LTD and its subsidiaries believe that Corporate Social Responsibility is not merely an activity for ensuring South African compliance towards Section 71 of the Companies Act, 2008 along with Companies (Corporate Social Responsibility Policy) Rules 2014, however it’s the responsibility of the company towards the society, by positively impacting the lives of underprivileged.
                </p>

            </div>

        </div>

        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp">

                    <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                </div>*@

            <div class="col-lg-10 col-sm-10 col-md-10 wow fadeInUp pt-5 pt-lg-0">
                <h2>Scope</h2>
                <p class="description">
                    This policy applies to 3S IT TRAINING AND BUSINESS SOLUTIONS PTY LTD and its subsidiaries.
                </p>

                <h2>Objective</h2>
                <p class="description">
                    The objective of the policy is to formulate and implement CSR activities and to ensure that CSR activities focus in the area of skill development and education.
                </p>

                <h2>Definition of Underprivileged Household</h2>
                <p class="description">
                    An individual whose annual household income is R 50,000 or less.

                </p>
                <p class="description">
                    3S IT TRAINING provides free-of-cost computer, Basic Computers and related training to underprivileged children and youth at its centers. 3S IT TRAINING endeavors not only to improve knowledge of students but also enhance employability of youth population.
                </p>
            </div>

        </div>

        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/img/Policy.jpg" class="img-fluid" alt="">
                </div>*@

            <div class="col-lg-10 col-sm-10 col-md-10 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h2>CSR Activity</h2>
                <p class="description">
                    Promoting Education is the focus of CSR and following are the activities:
                </p>
                <ul>
                    <li>
                        <h3>Supporting skill development</h3>
                        <p class="description">
                            Providing computer and related literacy to underprivileged children and youth, including high school and college drop-outs, at 3S IT TRAINING Centers.
                        </p>
                        <p class="description">
                            The entire fee of the course will be borne by 3S IT TRAINING and its subsidiaries.
                        </p>
                    </li>
                    <li>
                        <h3>Empowering through education</h3>
                        <p class="description">
                            Facilitating education by providing financial assistance to those NGOs which are working in the field of development of children and youth through education.
                        </p>
                    </li>
                </ul>

            </div>

        </div>


        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/img/Policy.jpg" class="img-fluid" alt="">
                </div>*@

            <div class="col-lg-10 col-sm-10 col-md-10 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h2>Execution of CSR Activity</h2>
                <p class="description">
                    Promoting Education is the focus of CSR and following are the activities:
                </p>
                <ul>
                    <li>
                        <h3>1.   Supporting skill development</h3>
                        <ul>
                            For supporting skill development:
                            <li>
                                <p class="description">
                                    HR would engage with NGOs which are working in area of skill development and would provide details related to course, fee and center location to NGOs.
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    Once the course and the location of the center is decided by the NGO, it would share the list of students along with course details and center location with HR.
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    Operations would create separate fee plan for CSR.
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    Names of students would be entered in “3S IT TRAINING” under CSR fee plan.
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    NGO would share the invoice in name of 3S IT TRAINING AND BUSINESS SOLUTIONS. The invoice would include the course fee plus an additional 10%. This additional 10% is against the expenses that NGO would have incurred for administration and the related activities for mobilizing the students for the course.
                                </p>
                            </li>

                        </ul>


                    </li>
                    <li>
                        <h3>2.   Empowering through education</h3>
                        <ul>

                            <li>
                                <p class="description">
                                    Engaging with NGOs which are working in area of education.
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    Providing financial assistance to NGOs, so that the NGOs can facilitate the development of children and youth through imparting knowledge and skills through predefined channels.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>

        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/img/Policy.jpg" class="img-fluid" alt="">
                </div>*@

            <div class="col-lg-10 col-sm-10 col-md-10 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h2>Constitution of CSR Committee</h2>
                <p class="description">
                    CSR committee member listed below
                </p>
                <ol>
                    <li>
                        Ms. Saigeetha Pahlad, Chairperson of the Committee
                    </li>
                    <li>
                        Mr. Santosh Kumar Singh C.P.
                    </li>
                    <li>
                        Mr. Dhananjay Kumar Pandey
                    </li>
                    <li>
                        Mr. Dinesh Bhargav
                    </li>
                </ol>

            </div>

        </div>



        <div class="row home-extra">
            @*<div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/img/Policy.jpg" class="img-fluid" alt="">
                </div>*@

            <div class="col-lg-10 col-sm-10 col-md-10 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h2>Approval Authority</h2>
                <p class="description">
                    Approval authority of the CSR policy will be the Board of Directors.
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-primary">
                        <tr>
                            <td>
                                <span class="font-weight-bold">Policy Prepared By:</span>
                                <span class="text-danger">
                                    &nbsp;
                                    SANTOSH SINGH
                                    CHRO
                                </span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Policy Approved By:</span>
                                <span class="text-danger">
                                    &nbsp;
                                    CSR Committee
                                </span>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span class="font-weight-bold">Version:</span>
                                <span class="text-danger">
                                    &nbsp;
                                    3
                                </span>
                            </td>
                            <td>
                                <span class="font-weight-bold">Date:</span>
                                <span class="text-danger">
                                    &nbsp;
                                    07 Feb , 2019
                                </span>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>

</section>
<!--==========================-->
